<!DOCTYPE html>
<html>
<head>
  <title>Amzing List</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <nav>
        <ul class="nav nav-pills pull-right">
          <% if current_user.present? %>
            <li role="presentation">
              <%= link_to "Lists", lists_path %>
            </li>
            <li role="presentation">
              <a href="#"><%= current_user.name %></a>
            </li>
          <li role="presentation"><%= link_to 'Change User', users_path %></li>
          <% end %>
        </ul>
      </nav>
      <h3 class="text-muted">
        <a href="<%= root_path %>">
          Amzing List
        </a>
      </h3>
    </div>

    <%= yield %>

    <footer class="footer">
      <p>&copy; Amazing Shit Everyday <%= Time.zone.now.year %></p>
    </footer>

  </div> <!-- /container -->


</body>
</html>
