<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>TODO</h1>
  <% if session[:user_id].present? %>
    <aside>
      Logged in as <%= User.find(session[:user_id]).name %>.
      <%= link_to 'Change login', users_path %>
    </aside>
  <% end %>
  <%= yield %>

</body>
</html>
